body{
    margin: 0;
    padding:0;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    cursor: pointer;
}
.navbar{
    width: 100%;
    height: 60px;
    background-color: #0f1111;
    margin:0;
    padding:0;
    display: flex;
    /* justify-content: space-evenly; */
}
.navbar .logo{
    width: 130px;
    height: 50px;
    /* border: 1px solid white; */
     object-fit: cover;
     margin-top: 1px;
     margin-right: 5px;
     background-image: url("alogo.png");
     background-size: cover;
     /* position: relative;
     right: 20px; */
}
.navbar .logo:hover{
    border:1px solid white;
}
.navbar .logo img{
    position: relative;
    width: 130px;
    height: 50px;
    /* right: 30px; */
    bottom: 20px;
   color: white; 
   font-size: 20px;
   margin-top: 15px;
   margin-right: 5px;
}
.navbar .location i{
    color: white;
    width: 15px;
    height: 18px;
    position:relative;
    margin-left: 5px;
    top:18px;
    /* right:40px;
    top:10px */
}
.navbar .location i:hover{
    border:1px solid white;
}
.navbar .location{
    display: flex;
    flex-direction: column;
    position: relative;
    width: 180px;
    height: 50px;
   margin: 5px 2px 5px 0;
   /* margin-left: 2px; */
   left: 18px;
}
.navbar .location .p1:hover,.p2:hover{
    border:1px solid white;
}
.navbar .location:hover{
    border:1px solid white;
}
.navbar .location .p1{
    width: 120px;
    height:16px;
    position: relative;
    left: 23px; 
    font-size: 12px; 
    bottom: 10px;
    color: #cccccc;
}
.navbar .location .p2{
    width: 120px;
    height: 16px;
    position: relative;
    left:23px; 
    font-size: 14px; 
    bottom: 10px;
    color:white;
    font-weight:bold;
}
.navbar .search{
    width:810px;
    height: 50px;
    position: relative;
    /* background-color: white; */
    left:10px;
    color: white;
}
.navbar .search input{
    position: relative;
    left:60px;
    width: 700px;
    height: 40px;
    bottom: 30px;
    padding-left:10px;
    font-size: 15px;
    outline: none;
}
.navbar .search div{
    position: relative;
    top:10px;
    left: 10px;
    width: 52px;
    height: 39px;
    background-color:#E6E6E6;
    color: black;
    font-size: 12px;
    font-weight: lighter;
    text-align: center;
    display: flex;
    align-items: center;
    border:1px solid black;
    border-radius: 5px;
    padding-left:10px;
    gap:9px;
}
.navbar .search div:hover{
    background-color:#d3d3d3 ;
}
.navbar .search .searchicon{
    display: grid;
    place-items: center; 
    position: relative;
    left:750px;
    bottom: 70px;
    width: 45px;
    height: 39px;
    background-color:#ffae42;
    text-align: center;
    color: black;
    border-radius: 0 5px 5px 0;
}
.navbar .search .searchicon:hover{
    background-color:#fb9902;
}
.navbar .country:hover{
    border: 1px solid white;
}
.navbar .country{
    width: 60px;
    height: 50px;
    position: relative;
    color: white;
    font-size: 15px;
    left:20px;
    top:5px;
    font-weight: bold;
    margin-right: 2px;
}
.navbar .country img{
   padding-top:25px;
}
.navbar .country i{
    font-size:10px;
    color: #cccccc;
}
.navbar .accounts:hover{
    border:1px solid white;
}
.navbar .accounts{
    color: white;
    width: 130px;
    height: 50px;
    position: relative;
    top:5px;
    left:20px;
}
.navbar .accounts .p1{
   width: 113px;
   height: 15px;
    font-size: 12px;
    padding-top: 10px;
    padding-left: 5px;
}
.navbar .accounts .p2:hover{
    border:none;
}
.navbar .accounts .p2{
    width: 113px;
   height: 15px;
    font-size: 14px;
    font-weight:bold;
    padding-left: 5px;
}
.navbar .accounts i{
    position: absolute;
    font-size:10px;
    color:#cccccc;
    bottom: 10px;
    left:113px
}
.navbar .order:hover{
    border:1px solid white;
}
.navbar .order{
    width:75px ;
    height: 50px;
    position: relative;
    color: white;
    left:30px;
    top:5px;
}
.navbar .order .p1{
    padding-top: 10px;
    font-size: 12px;
    padding-left: 5px;
}
.navbar .order .p2:hover{
    border:none;
}
.navbar .order .p2{
    font-size: 14px;
    font-weight: bold;
    padding-left: 5px;
}
.navbar .cart:hover{
    border:1px solid white;
}
.navbar .cart{
    color:white;
    width: 85px;
    height: 50px;
    position: relative;
    left:50px;
    font-size:30px;
    top:5px;
}
.navbar .cart i{
    padding-top:10px;
}
.navbar .cart .p{
    color: white;
    position: relative;
    left:40px;
    font-size: 14px;
    width: 29px;
    height: 15px;
    font-weight: bold;
    bottom: 20px;
}
.link{
    width: 100%;
    height: 40px;
    display: flex;
    justify-content: space-evenly;
    background-color: #232f3e;
}
.link a{
    text-decoration: none;
    font-size: 14px;
    color: white;
    padding-top: 10px;
}
.imgs{
    width: 1500px;
    height: 600px;
    /* background-image: url("aimg1.jpg"); */
    background-size: cover;
    margin-left: 10px;
    margin-right: 10px;
    overflow: hidden;
    animation: imgs 2s linear 10s infinite;
    /* transition:imgs .1s; */
}
.imgs img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    
}
@keyframes img{
    0%{
        transform: translateX(1500px);
    }
    30%{
        transform: translateX(1500dpx);
    }
    50%{
        transform: translateX(1500px);
    }
    80%{
        transform: translateX(1500px);
    }
    100%{
        transform: translateX(1500px);
    }
    
}
.imgs .left{
    position: absolute;
    width: 80px;
    height: 248px;
    /* margin-bottom: 100px; */
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    left:30px;
    top:100px;
    font-size:50px;
    text-align: center;
    /* border: 1px solid white; */
}
.imgs .right{
    width: 80px;
    height: 248px;
    /* margin-bottom: 100px; */
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    left: 1410px;
    top:100px;
    font-size: 50px;
    text-align: center;
    /* border:1px solid white; */

}
.cards{
    display: flex;
    flex-direction: row;
    position: relative;
    bottom: 350px;
    justify-content: space-evenly;
}
.cards .card{
    width: 350px;
    height: 420px;
    /* border:1px solid black; */
    background-color: white;
    box-shadow: rgb(0,0,0,);
    font-size: 12px;
    box-shadow: 0 0 50px #ccc;
}
.cards .card h1{
    font-size: 20px;
    text-indent: 20px;
    padding-top: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

.cards .card .img{
    width: 350px;
    height: 350px;
    /* padding-left: 20px;*/
    margin-top: 30px; 
    /* border: 1px solid black; */
    display:grid;
    grid-template-columns: 150px 150px;
    grid-template-rows:50px 150px 150px;
    row-gap: 100px;
    column-gap: 10px;
    padding-left: 25px;
    /* padding-top: 20px; */
    padding-bottom: 20px;
}
.cards .card .img div img{
    width: 150px;
    height: 110px;
}
.cards .card a{
    text-decoration: none;
    position: relative;
    bottom: 50px;
    left:20px;
    color:blue;
    font-family: Arial, Helvetica, sans-serif;
} 
.cards .card .img .card3 img{
    width: 300px;
    height: 270px;
    /* position: relative;
    bottom:20px; */
}
.cards .card .img .card3 #a{
    position: absolute;
    color: red;
}
.cards .card1{
   height: 150px;
}
.cards .card1 .card2{
    height: 240px;
    background-color: white;
    position: relative;
    top:86px;
    /* border:1px solid black; */
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.cards .card1 img{
    height: 100px;
    width: 100px;
    position: relative;
    bottom: 70px;
    float: right;
    padding: 20px;
    shape-outside: margin-box;
}
.cards .card1 h1{
    width: 200px;
    height: 50px;
    padding-left: 0px;
}
.cards .card1 a{
    position: relative;
    top:0px;
}
.cards .card1 .card2 img{
    width: 150px;
    height: 100px;
    position: relative;
    top:10px;
    left: 50px;
}
.msg{
    display: none;
}
@media screen and (max-width: 760px) {
    .amazon{
        display: none;
    }
    .msg{
        text-align: center;
        margin-top: 20vh;
        display: block;
    }

 
  }
  
